{{- $name := promptStringOnce . "name" "Git user name?" -}}
{{- $email := promptStringOnce . "email" "Git email address?" -}}
{{- $ghAccount := promptStringOnce . "ghAccount" "Github account id?" -}}
{{- $work := promptBoolOnce . "work" "Is this a work machine?" -}}

{{- $osid := .chezmoi.os -}}
{{- if hasKey .chezmoi.osRelease "id" -}}
{{-   $osid = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

[data]
  email = {{ $email | quote }}
  ghAccount = {{ $ghAccount | quote }}
  name = {{ $name | quote }}
  osid = {{ $osid | quote }}
  work = {{ $work }}

[diff]
  exclude = ["scripts"]

[gitHub]
  refreshPeriod = "15m"
