[user]
  name = {{ .name | quote }}
  email = {{ .email | quote }}

[branch]
  autoSetupMerge = always
  autoSetupRebase = always

[color]
  ui = auto

[column]
   ui = auto

[core]
  editor = vim
  excludesFile = ~/.gitignore
  pager = less -F -X
  untrackedCache = true

[diff]
  algorithm = histogram
  renames = true
  submodule = diff

[feature]
  manyFiles = true

[init]
  defaultBranch = main

[fetch]
  prune = true
  pruneTags = true
  writeCommitGraph = true

[pull]
  rebase = true

[push]
  default = upstream
  autoSetupRemote = true

[rebase]
  autoSquash = true
  autoStash = true

[rerere]
  autoUpdate = true
  enabled = true

# includes
[include]
  path = ~/.gitaliases
  path = ~/.gitcolors
  # allow work overrides
  path = ~/.gitwork
