[user]
  name = {{ .name | quote }}
  email = {{ .email }}

[branch]
  autoSetupMerge = always          # Automatically sets upstream tracking on branch creation
  autoSetupRebase = always         # Automatically sets rebase instead of merge when tracking a remote

[core]
  editor = vim                     # Use Vim as the default editor
  excludesFile = ~/.gitignore      # Global ignore file
  untrackedCache = true            # Enable untracked cache and only search dirs updated since last status check

[feature]
  manyFiles = true                 # Optimize for repos with many files (Git ≥2.31)

[fetch]
  prune = true                     # Prune deleted remote branches
  pruneTags = true                 # Prune deleted remote tags
  parallel = 4                     # Parallel fetches (Git ≥2.27)

[init]
  defaultBranch = main             # Use 'main' as the default branch

[pull]
  rebase = true                    # Use rebase instead of merge when pulling

[push]
  autoSetupRemote = true           # Automatically set upstream on first push (Git ≥2.37)
  default = upstream               # Push to upstream branch by default

[include]
  path = ~/.gitcolors              # External color settings
  path = ~/.gitaliases             # External aliases
  path = ~/.gitwork                # Work-specific overrides
