# [zim modules](https://zimfw.sh/docs/modules/)

## Behavior Modules

zmodule environment
zmodule input
zmodule run-help
zmodule utility

## Community modules

zmodule joke/zim-chezmoi
zmodule joke/zim-github-cli
zmodule joke/zim-starship
{{ if .mise -}}
zmodule joke/zim-mise
{{- end }}

## Completion Modules

zmodule zsh-users/zsh-completions
zmodule completion

## Modules that must be initialized last

zmodule g-plane/pnpm-shell-completion --on-pull './zplug.zsh'
zmodule zsh-users/zsh-syntax-highlighting # must be before zsh-history-substring-search
zmodule zsh-users/zsh-history-substring-search
zmodule zsh-users/zsh-autosuggestions
