[user]
    name = Tim Chen
	email = chengt@gmail.com

[core]
    excludesfile = ~/.gitignore
    editor = vim
    # makes less quit if everything can fit into 1 screen and not clear the terminal before displaying
    pager = less -F -X

[alias]
    l = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    cl = clone

# I like using the interactive mode to make complex commits
    ai = add --interactive

# modified from http://www.metacircus.com/hacking/2011/02/18/play-git-like-a-violin.html
    c = commit
    cm = commit -m
    ca = commit -a
    cam = commit -a -m

# amending the previous commit
    caa = commit -a --amend -C HEAD
    amend = commit --amend -C HEAD

# reset
## soft resets
    rs = reset
## hard resets
    rh = reset --hard

# shortcuts for commands
    t = tag
    s = status
    d = diff
    a = add
    m = merge
    co = checkout
    b = branch
    f = fetch --all -p
    rb = rebase
    p = pull
    pr = pull --rebase
    ph = push
    unstage = reset HEAD

[color]
    ui = on

[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green

[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold

[color "status"]
    added = yellow
    changed = green
    untracked = cyan

[push]
    default = upstream

[branch]
    autosetupmerge = always
    autosetuprebase = always

[diff]
    submodule = diff

[commit]
    template = ~/.gitmessage
