[user]
  name = Tim Chen
  email = chengt@gmail.com

[includeIf "gitdir:Work/"]
  path = ~/.gitwork

[core]
  excludesfile = ~/.gitignore
  editor = vim
  # makes less quit if everything can fit into 1 screen and not clear the terminal before displaying
  pager = less -F -X
  hooksPath = ~/.githooks

[include]
  path = ~/.gitaliases

[color]
  ui = on

[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green

[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold

[color "status"]
  added = yellow
  changed = green
  untracked = cyan

[push]
  default = upstream

[branch]
  autosetupmerge = always
  autosetuprebase = always

[diff]
  submodule = diff

[commit]
  template = ~/.gitmessage
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
